Repository JnMProjects/NoPlus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JnMProjects/head-team, @JnMProjects/noplus-unity-development, @JnMProjects/noplus-web-development

.github/CODEOWNERS:

* @JnMProjects/head-team

NoPlus/ @JnMProjects/noplus-unity-development

docs/ @JnMProjects/noplus-web-development

noplus_web/ @JnMProjects/noplus-web-development

Update Button component with new variants and styles
  noplus-web/src/components/ui/Button.stories.tsx
  noplus-web/src/components/ui/Button.tsx
  vercel.json
Owners: @JnMProjects/head-team

typo in vercel json
  vercel.json
Owners: @JnMProjects/head-team

Update WEBCI.yaml file and add new workflows for StoryPages, StoryDocs, and upstream. Modify Button.tsx file to fix variant type issue. Add new Page component.
  .github/workflows/WEBCI.yaml
  docs/storybook/.gitkeep
  noplus-web/package.json
  noplus-web/src/app/docs/components/page.tsx
  noplus-web/src/components/ui/Button.tsx
Owners: @JnMProjects/head-team, @JnMProjects/noplus-web-development

Worked on Button, Styled Storybook, worked on workflow
  .github/workflows/WEBCI.yaml
  .gitignore
  .vscode/settings.json
  noplus-web/.gitignore
  noplus-web/.storybook/main.ts
  noplus-web/.storybook/preview.ts
  noplus-web/.storybook/theme.ts
  noplus-web/package-lock.json
  noplus-web/package.json
  noplus-web/src/components/layout/Collapse.tsx
  noplus-web/src/components/ui/Button.stories.tsx
  noplus-web/src/components/ui/Button.tsx
  noplus-web/tailwind.config.js
Owners: @JnMProjects/head-team

Modified Ci
  .github/workflows/WEBCI.yaml
  .gitignore
  vercel.json
Owners: @JnMProjects/head-team

Update WEBCI.yaml and main.ts
  .github/workflows/WEBCI.yaml
  noplus-web/.storybook/main.ts
Owners: @JnMProjects/head-team

Update Vercel Deployment configuration
  .github/workflows/WEBCI.yaml
Owners: @JnMProjects/head-team

Update WEBCI.yaml and add Dialog component
  .github/workflows/WEBCI.yaml
  noplus-web/src/components/layout/Dialog.tsx
Owners: @JnMProjects/head-team

Update path for storydocs artifact
  .github/workflows/WEBCI.yaml
Owners: @JnMProjects/head-team

Fix typo in Build StoryBook step
  .github/workflows/WEBCI.yaml
  README.md
Owners: @JnMProjects/head-team

Add permissions for upstream job
  .github/workflows/WEBCI.yaml
Owners: @JnMProjects/head-team

Remove unnecessary pull_request branches in WEBCI.yaml
  .github/workflows/WEBCI.yaml
Owners: @JnMProjects/head-team

1
  .github/workflows/WEBCI.yaml
Owners: @JnMProjects/head-team

Reordered Storybook Files and fixed Typescript Path Errors
  noplus-web/.storybook/main.ts
  noplus-web/src/components/story/README.md
  noplus-web/src/components/story/components/layout/Collapse/Collapse.mdx
  noplus-web/src/components/story/components/layout/Collapse/Collapse.stories.tsx
  noplus-web/src/components/story/components/layout/Container.stories.tsx
  noplus-web/src/components/story/components/layout/Drawer/Drawer.mdx
  noplus-web/src/components/story/components/layout/Drawer/Drawer.stories.tsx
  noplus-web/src/components/story/components/layout/Item/Item.mdx
  noplus-web/src/components/story/components/layout/Item/Item.stories.tsx
  noplus-web/src/components/story/components/ui/Avatar/Avatar.mdx
  noplus-web/src/components/story/components/ui/Avatar/Avatar.stories.tsx
  noplus-web/src/components/story/components/ui/Badge.stories.tsx
  noplus-web/src/components/story/components/ui/Button.stories.tsx
  noplus-web/src/components/story/components/ui/Feather.stories.tsx
  noplus-web/src/components/story/components/ui/Loader/Loader.mdx
  noplus-web/src/components/story/components/ui/Loader/Loader.stories.tsx
  noplus-web/tsconfig.json
  vercel.json
Owners: @JnMProjects/head-team

Updated Storybook and fixed Collapse Group outer Border Misalign
  noplus-web/package-lock.json
  noplus-web/package.json
  noplus-web/src/components/layout/Collapse.tsx
Owners: @JnMProjects/head-team

Made Storybook Beautiful
  noplus-web/.storybook/jnmp.ts
  noplus-web/.storybook/preview.ts
Owners: @JnMProjects/head-team

Worked on Buttons and Loader
  noplus-web/src/components/story/components/ui/Button.stories.tsx
  noplus-web/src/components/ui/Button.tsx
  noplus-web/src/components/ui/Loader.tsx
Owners: @JnMProjects/head-team

Add CD Scripts for Web Branches
  .github/workflows/WEBCD.yaml
  .github/workflows/WEBCI.yaml
Owners: @JnMProjects/head-team

Figured Setting bg to Text color wasnt realy smart
  noplus-web/.storybook/preview.ts
Owners: @JnMProjects/head-team

Finished Button and Fixed some Graphical errors with Drawer and Item
  noplus-web/src/components/layout/Drawer.tsx
  noplus-web/src/components/layout/Item.tsx
  noplus-web/src/components/story/components/ui/Button.stories.tsx
  noplus-web/src/components/ui/Button.tsx
Owners: @JnMProjects/head-team

Created Documentation and fixed some stuff
  noplus-web/src/components/layout/Drawer.tsx
  noplus-web/src/components/story/components/ui/Button/Button.mdx
  noplus-web/src/components/story/components/ui/Button/Button.stories.tsx
  noplus-web/src/components/ui/Button.tsx
Owners: @JnMProjects/head-team

Remove Old Website from Repo (local backup done)
  noplus-web-old/.eslintrc.json
  noplus-web-old/.gitignore
  noplus-web-old/README.md
  noplus-web-old/next.config.mjs
  noplus-web-old/package-lock.json
  noplus-web-old/package.json
  noplus-web-old/postcss.config.js
  noplus-web-old/public/brand/BlueInvisv0.1.svg
  noplus-web-old/public/brand/Color Stylesv0.1.svg
  noplus-web-old/public/brand/LogoAccentv0.1.svg
  noplus-web-old/public/brand/LogoOnBluev0.1.svg
  noplus-web-old/public/brand/LogoOnWhitev0.1.svg
  noplus-web-old/public/brand/LogoSecondaryv0.1.svg
  noplus-web-old/public/brand/NPFPSv0.1.png
  noplus-web-old/public/brand/NPFPSv0.1.svg
  noplus-web-old/public/brand/WhiteInvisv0.1.svg
  noplus-web-old/public/brand/load/Loading Bar.png
  noplus-web-old/public/brand/load/Loading Done.png
  noplus-web-old/public/brand/load/Loading Overlay.png
  noplus-web-old/public/brand/load/NPFPS[NPv0.1]LoadingAssets.png
  noplus-web-old/public/brand/pallete.md
  noplus-web-old/public/next.svg
  noplus-web-old/public/vercel.svg
  noplus-web-old/sentry.client.config.ts
  noplus-web-old/sentry.edge.config.ts
  noplus-web-old/sentry.server.config.ts
  noplus-web-old/src/app/global-error.jsx
  noplus-web-old/src/app/info/page.tsx
  noplus-web-old/src/app/layout.tsx
  noplus-web-old/src/app/page.tsx
  noplus-web-old/src/globals.css
  noplus-web-old/tailwind.config.ts
  noplus-web-old/tsconfig.json
  noplus-web-old/turbo.json
Owners: @JnMProjects/head-team

Forgot to add onclick and ...props
  noplus-web/src/components/ui/Button.tsx
Owners: @JnMProjects/head-team

Worked on fixing api and finished Alert DIalog
  noplus-web/package-lock.json
  noplus-web/package.json
  noplus-web/src/app/docs/components/page.tsx
  noplus-web/src/app/docs/storydocs/page.tsx
  noplus-web/src/app/globals.css
  noplus-web/src/components/layout/Dialog.tsx
  noplus-web/src/components/layout/Drawer.tsx
  noplus-web/src/components/layout/index.tsx
  noplus-web/src/components/story/components/layout/Dialogs/AlertDialog.stories.tsx
  noplus-web/src/test/apia.test.ts
  noplus-web/tailwind.config.js
Owners: @JnMProjects/head-team, @JnMProjects/noplus-web-development

Hide Old Token (i already killed it)
  docs/storybook/components-story-components-ui-Avatar-Avatar-mdx.606b92ca.iframe.bundle.js
  docs/storybook/components-story-components-ui-Avatar-Avatar-stories.f8bbb538.iframe.bundle.js
  docs/storybook/sb-addons/chromatic-com-storybook-9/manager-bundle.js
Owners: @JnMProjects/noplus-web-development

Finished Dialog, updated Nextjs and some more stuff
  noplus-web/package-lock.json
  noplus-web/package.json
  noplus-web/src/app/globals.css
  noplus-web/src/components/layout/Dialog.tsx
  noplus-web/src/components/layout/Drawer.tsx
  noplus-web/src/components/layout/Item.tsx
  noplus-web/src/components/layout/index.tsx
  noplus-web/src/components/story/components/layout/Dialog/Dialog.stories.tsx
  noplus-web/src/components/story/components/layout/Dialogs/AlertDialog.stories.tsx
  noplus-web/src/components/story/components/layout/Item/Item.mdx
  noplus-web/src/components/story/components/layout/Item/Item.stories.tsx
  noplus-web/src/components/ui/Badge.tsx
Owners: @JnMProjects/head-team

Finished Dialog Docs and Added a Beautiful Glassy Blur
  noplus-web/package-lock.json
  noplus-web/package.json
  noplus-web/src/app/page.tsx
  noplus-web/src/app/test/page.tsx
  noplus-web/src/components/layout/Dialog.tsx
  noplus-web/src/components/layout/Drawer.tsx
  noplus-web/src/components/layout/Item.tsx
  noplus-web/src/components/layout/index.tsx
  noplus-web/src/components/story/components/layout/Collapse/Collapse.mdx
  noplus-web/src/components/story/components/layout/Dialog/Dialog.mdx
  noplus-web/src/components/story/components/layout/Dialog/Dialog.stories.tsx
  noplus-web/src/components/story/components/layout/Drawer/Drawer.mdx
  noplus-web/src/components/ui/Avatar.tsx
Owners: @JnMProjects/head-team

Quick Popup done
  noplus-web/src/components/layout/Popup.tsx
  noplus-web/src/components/layout/index.tsx
  noplus-web/src/components/story/components/layout/Popup.stories.tsx
  noplus-web/tailwind.config.js
Owners: @JnMProjects/head-team

Refactor test page component
  noplus-web/src/app/test/page.tsx
Owners: @JnMProjects/head-team

Added Calendar
  noplus-web/package-lock.json
  noplus-web/package.json
  noplus-web/src/components/story/components/ui/Calendar.stories.tsx
  noplus-web/src/components/ui/Button.tsx
  noplus-web/src/components/ui/Calender.tsx
  noplus-web/src/components/ui/index.tsx
Owners: @JnMProjects/head-team

Just wantin to learn docker
  Dockerfile.web
  noplus-web/.dockerignore
Owners: @JnMProjects/head-team

fixed docs and some stuff
  noplus-web/.storybook/preview.ts
  noplus-web/package.json
  noplus-web/src/app/page.tsx
  noplus-web/src/components/layout/Drawer.tsx
  noplus-web/src/components/layout/Popup.tsx
  noplus-web/src/components/layout/index.tsx
  noplus-web/src/components/story/components/ui/Avatar/Avatar.mdx
Owners: @JnMProjects/head-team

Updating Analytics
  noplus-web/package-lock.json
  noplus-web/package.json
  noplus-web/src/app/layout.tsx
Owners: @JnMProjects/head-team

also same
  noplus-web/sentry.client.config.ts
Owners: @JnMProjects/head-team

Fixed Some UI Bugs and added already Predetermined Fonts
  .gitignore
  noplus-web/next.config.mjs
  noplus-web/package-lock.json
  noplus-web/package.json
  noplus-web/public/brand/main/icon-192x192.png
  noplus-web/public/brand/main/icon-256x256.png
  noplus-web/public/brand/main/icon-384x384.png
  noplus-web/public/brand/main/icon-512x512.png
  noplus-web/public/manifest.json
  noplus-web/src/app/layout.tsx
  noplus-web/src/components/layout/Collapse.tsx
  noplus-web/src/components/layout/Popup.tsx
  noplus-web/src/components/ui/Badge.tsx
  noplus-web/src/components/ui/Button.tsx
  noplus-web/src/components/ui/Feather.tsx
  noplus-web/tailwind.config.js
Owners: @JnMProjects/head-team

It doesnt work yet but i want to sleep, goodnight
  noplus-web/src/app/layout.tsx
  noplus-web/src/app/page.tsx
  noplus-web/src/components/Theme.tsx
Owners: @JnMProjects/head-team

Added PWA functions and cashing of pictures
  noplus-web/package.json
  noplus-web/public/manifest.json
  noplus-web/public/sw.js
  noplus-web/src/app/globals.css
  noplus-web/src/app/layout.tsx
  noplus-web/src/components/layout/Drawer.tsx
  noplus-web/src/components/story/components/ui/Avatar/Avatar.mdx
Owners: @JnMProjects/head-team

Added Aspect Ratio Controller and fixed some Stuff
  noplus-web/package-lock.json
  noplus-web/package.json
  noplus-web/src/components/layout/AspectRatio.tsx
  noplus-web/src/components/layout/Dialog.tsx
  noplus-web/src/components/layout/index.tsx
  noplus-web/src/components/story/components/layout/AspectRatio/AspectRatio.mdx
  noplus-web/src/components/story/components/layout/AspectRatio/AspectRatio.stories.tsx
  noplus-web/src/components/story/components/ui/Calendar.stories.tsx
  noplus-web/src/components/ui/Avatar.tsx
Owners: @JnMProjects/head-team

tryin to make my own checkbox
  noplus-web/src/components/ui/Checkbox.tsx
Owners: @JnMProjects/head-team

Added Tooltip
  noplus-web/package-lock.json
  noplus-web/package.json
  noplus-web/src/components/layout/Tooltip.tsx
  noplus-web/src/components/layout/index.tsx
  noplus-web/src/components/story/components/layout/Tooltip.stories.tsx
Owners: @JnMProjects/head-team
